.container{
    flex: 1;
    /* padding: 0px 10px; */
}

.box{
    width: 14.28%;
    display: flex;
    /* justify-content: center; */
    border: 0.1px solid #14161E;
    flex-direction: column;
}

.boxContainer{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}